.DS_Store
.env

# ignore vendor/
vendor/

# SDK generator
.openapi-generator-ignore
.openapi-generator/VERSION
/.project

# credentials files
*.env

# development guide ignores
swagger.json
openapi-sdkgen

# example binary ignore
example/example